:host ::ng-deep {
  .filter {
    position: relative;
    display: inline-flex;
    gap: 10px;

    @media screen and (max-width: 768px) {
      display: block;
    }


  }

}

.filtro {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  ::ng-deep {
    &>*:last-child {
      margin-left: auto;
    }
  }

  .toggle-filter {
    margin-top: 9px;
    margin-left: 10px;
  }
}

.button {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.42);
  color: #343A40;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding-left: 8px;
  user-select: none;

  mat-icon {
    color: #545454;
    transition: transform ease .4s;

    &.rotate {
      transform: rotateZ(-90deg);
    }
  }

}

.filter-content {
  overflow: hidden;

  .content {

    padding: 22px 12px 0px 12px;

    @media screen and (max-width: 768px) {
      padding: 22px 12px 22px 12px;
    }
  }
}
