button {
  border-radius: 2px;
  font-size: 14px;
  border: none;
  color: #fefefe;
  width: 100%;
  height: 36px;
  position: relative;

  &.primary {
    background: transparent linear-gradient(90deg, #ff6d41 0%, #ffa641 100%) 0%
      0% no-repeat padding-box;
  }

  &.secondary {
    background: transparent linear-gradient(90deg, #1ab040 0%, #87de1b 100%) 0%
      0% no-repeat padding-box;
  }

  &.disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }

}
