<div class="dialog" *ngIf="tipoDocumento">
  <div class="title grid-1-auto">
    <div>{{!tipoDocumento.id?'Cadastrar' : 'Editar'}}</div>
    <button mat-button [mat-dialog-close]="false"><mat-icon>close</mat-icon></button>
  </div>
  <div class="body">
    <sigma-nx-form #form>
      <div>

        <sigma-nx-input label='Nome' required [(ngModel)]="tipoDocumento.nome" class="nome">
          <span required>Insira um nome</span>
        </sigma-nx-input>

      </div>


      <div class="row mobile">
        <sigma-nx-input type="textarea" [(ngModel)]="tipoDocumento.descricao" label="Descrição"></sigma-nx-input>
      </div>


    </sigma-nx-form>
  </div>


  <div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button class="green-button" (click)="salvarTipoDocumento(form)">
      Salvar
    </button>
  </div>
</div>
