<div class="dialog" *ngIf="tipoEquipamento">
  <div class="title grid-1-auto">
    <div>{{!tipoEquipamento.id?'Cadastrar' : 'Editar'}}</div>
    <button mat-button [mat-dialog-close]="false"><mat-icon>close</mat-icon></button>
  </div>
  <div class="body">
    <sigma-nx-form #form>
      <div class="row mobile">
        <sigma-nx-input label='Nome' required [(ngModel)]="tipoEquipamento.nome">
          <span required>Insira um nome</span>
        </sigma-nx-input>
      </div>
      <div class="row mobile">
        <sigma-nx-input label='Descrição' [(ngModel)]="tipoEquipamento.descricao" type='textarea'>
        </sigma-nx-input>
        <sigma-nx-input label='Observação' type='textarea' [(ngModel)]="tipoEquipamento.observacao">
        </sigma-nx-input>
      </div>
      <div class='mt-10 ml-20'>
        Status <mat-slide-toggle [(ngModel)]="tipoEquipamento.ativo"></mat-slide-toggle>
      </div>

    </sigma-nx-form>
  </div>


  <div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button class="green-button" (click)="salvarTipoEquipamento(form)">
      Salvar
    </button>
  </div>
</div>
