<div class='page'>
  <div *ngIf="!isMobile" class="container" [class.opened]='opened'>
    <div (mouseover)='opened = true' (mouseleave)="opened = fixOpen || false; menu.closeMenus()" class="side-menu">
      <sigma-nx--menu #menu [opened]='opened'></sigma-nx--menu>
    </div>
    <div class="overflow-auto">
      <sigma-nx--header [menuState]='opened' (menuStateChange)="fixOpen = !fixOpen; opened=!opened"></sigma-nx--header>
      <div class="container-page mat-elevation-z6" [@routerTransition]="prepareRoute(outlet)">
        <div [class.hide]='loading'>
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <mat-drawer-container *ngIf="isMobile">
    <mat-drawer mode='over' #sidenav>
      <div class='close' (click)="sidenav.toggle()">
        <mat-icon>
          close
        </mat-icon>
      </div>
      <br>
      <sigma-nx--menu [opened]='true' #menu (itemClick)="sidenav.toggle();menu.closeMenus()"></sigma-nx--menu>
    </mat-drawer>

    <sigma-nx--header [menuState]='sidenav.opened' (menuStateChange)="sidenav.toggle()"></sigma-nx--header>

    <div class="container-page mat-elevation-z6" [class.mobile]="isMobile" [@routerTransition]="prepareRoute(outlet)">
      <div [class.hide]='loading'>
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>
