<div class='title'>Tema</div>

<div class='grid-1-auto gap-10 mobile'>
  <sigma-nx-filter-button>

    <sigma-nx-input [(ngModel)]="filter.numeroPasta" label='N° pasta' type="number">
    </sigma-nx-input>

    <sigma-nx-input [(ngModel)]="filter.nome" label='Nome' type="text">
    </sigma-nx-input>

    <mat-slide-toggle class="toggle-filter mb-10" [(ngModel)]="filter.ativo" labelPosition='before'>Status</mat-slide-toggle>


    <sigma-nx-search-button (click)='getTemas(true)'></sigma-nx-search-button>

  </sigma-nx-filter-button>
  <div>
    <button mat-flat-button color='accent' (click)="openTema()">CADASTRAR</button>
  </div>
</div>

<div class='spacer-20'></div>

<sigma-nx-table *ngIf="temas" #table [data]='temas' [length]="temas.length" (pageChange)='changePage($event)' [(page)]=" page">

  <div t-head sticky sort (click)='sortBy("numeroPasta")'>N° pasta</div>
  <div *tableItem='let item'>{{item.numeroPasta}}</div>

  <div t-head sticky sort (click)='sortBy("nome")'>Nome</div>
  <div *tableItem='let item'>{{item.nome}}</div>

  <div t-head>Status</div>
  <div *tableItem='let item'>
    <mat-slide-toggle (change)="changeStatus(item)" [checked]="item.ativo"></mat-slide-toggle>
  </div>

  <div t-head stickyEnd>Ação</div>
  <div *tableItem='let item' class="acoes">
    <button mat-mini-fab (click)='openTema(item)'>
      <mat-icon>edit</mat-icon>
    </button>
  </div>

</sigma-nx-table>
