<div class='title'>Origem</div>

<div class='grid-1-auto gap-10 mobile'>
  <sigma-nx-filter-button>

    <sigma-nx-input [(ngModel)]="filter.nome" label='Nome' type="text">
    </sigma-nx-input>

    <mat-slide-toggle class="toggle-filter mb-10" [(ngModel)]="filter.ativo" labelPosition='before'>Status</mat-slide-toggle>


    <sigma-nx-search-button (click)='getOrigens(true)'></sigma-nx-search-button>

  </sigma-nx-filter-button>
  <div><button mat-flat-button color='accent' (click)="openOrigens()">CADASTRAR</button></div>
</div>

<div class='spacer-20'></div>


<sigma-nx-table *ngIf="origens" #table [data]='origens' [length]="origens.length" (pageChange)='changePage($event)' [(page)]="page">

  <div t-head sticky sort (click)='sortBy("nome")'>Nome</div>
  <div *tableItem='let item'>{{item.nome}}</div>

  <div t-head>Status</div>
  <div *tableItem='let item'>
    <mat-slide-toggle (change)="changeStatus(item)" [checked]="item.ativo"></mat-slide-toggle>
  </div>

  <div t-head stickyEnd>Ação</div>
  <div *tableItem='let item' class="acoes">
    <button mat-mini-fab (click)='openOrigens(item)'>
      <mat-icon>edit</mat-icon>
    </button>
  </div>

</sigma-nx-table>
