:host {
  display: block;
  overflow: hidden;
}

.menu-item {
  color: white;
  line-height: 24px;
  overflow: hidden;
  width: 100%;

  * {
    cursor: pointer;
  }

  label {
    font-family: 'Ubuntu';
    width: 215px;
  }

  &.active {
    background: #fff;
  }

  mat-icon {
    font-size: 24px;
    display: grid;
    place-content: center;

    &.expandable {
      transform: rotate(-180deg);
      margin-left: -5px;

    }

    &.rotated {
      margin-left: 0px;
      margin-top: -5px;
      transform: rotate(-90deg);
    }
  }
}

sigma-nx-menu-item {
  border-top: 2px solid rgba(44, 97, 174, 0.88);
}



.active {
  background: rgba(255, 255, 255, 0.88);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: #62656C;
}

.grid-item {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 25px;
  padding: 12px 25px;

  &.little {
    font-size: 11px;
    padding: 7px 25px;
  }
}
