.modal {
  width: 588px;
  padding: 45px;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  position: relative;


  @media screen and (max-width: 768px) {
    font-size: 18px;
    width: auto;
  }

  &.success {
    color: #4ECB71;
  }

  &.error {
    color: #FC0000
  }

  .image {
    height: 300px;

    img {
      display: block;
      margin: auto;
      width: 300px;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
  }
}
